<div class="card">
    <div class="card-body">
        <h4 class="card-title d-flex justify-content-center">Welcome Back</h4>
        <form>
            <div class="form-group">
                <input type="text" class="form-control mt-4" placeholder="Username">
            </div>
            <div class="form-group">
                <input type="password" class="form-control mb-4" placeholder="Password">
            </div>
            <div class="row">
                <div class="d-flex justify-content-center col">
                    <button class="btn btn-secondary">Sign In</button>
                </div>
            </div>
        </form>
    </div>
</div>